<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BOARD">
    <insert id="insertBoard">
        insert into BOARD (userid ,password ,username,card,content,price,installment)
        values
        (userid =#{userid},password =#{password}, username=#{username}, card=#{card}, content=#{content} price=#{price} installment=#{installment})
    </insert>
    <update id="updateBoard">
        update BOARD
        username=#{username}, card=#{card}, content=#{content} price=#{price} installment=#{installment}
        where seq=#{seq}
    </update>
    <delete id="deleteBoard">
        delete from BOARD where seq=#{seq}</delete>
    <select id="getBoard" resultType="board">
        select * from BOARD where seq=#{seq}</select>
    <select id="getBoardList" resultType="board">
        select * from BOARD order by seq desc</select>
</mapper>